    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{{ site.baseurl }}/img/icon.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr>
                        <span class="skills">Make your chemical calculations easy !</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
